[Desktop Entry]
Encoding=UTF-8
Name=Link to Table Mountain - Cape Town
Type=Link
URL=http://worldtoptop.com/wp-content/uploads/2011/11/Table-Mountain-Cape-Town_3.jpg
Icon=image-jpeg
Name[en_US]=Table_Mountain.jpg
